name: lint

on: [push, pull_request]

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: GolangCI Lint
        uses: golangci/golangci-lint-action@v2
        with:
          version: latest
